![](logo.png)

# Basics of Python (2nd Video)

In this notebook we will learn about **List,Tuple,Dictionary,set**

### What are these used for ?

**The answer to above question is these all are used to store multiple values in single variable**

## Tuple

Tuple is a collection which is ordered and unchangeable and are written with round brackets.<br>
Tuple allow duplicate values too and are indexed from 0 till (length of tuple -1 )<br>
Lets define a Tuple..

In [7]:
request = ("like","subscribe","comment")
request

('like', 'subscribe', 'comment')

In [8]:
request[0]

'like'

In [9]:
request[1]

'subscribe'

In [10]:
request[2]

'comment'

In [11]:
request[3]

IndexError: tuple index out of range

In [12]:
request[2] = 'abc' # Value cannot be changed

TypeError: 'tuple' object does not support item assignment

In [9]:
len(request) # To find the length of tuple

3

In [11]:
type(request) # To find Datatype

tuple

In [6]:
req = ("like","subscribe","comment","like") # repeatation of the value
req

('like', 'subscribe', 'comment', 'like')

In [13]:
numbers = ('1',1,2.6,True) # You can put any datatype value within tuple 
numbers

('1', 1, 2.6, True)

In [15]:
num = tuple(('a','b','c','a','a','b'))
# num[4] = 'd'
num

('a', 'b', 'c', 'a', 'a', 'b')

In [16]:
num.count('b')

2

In [32]:
num.index('a')

0

## List

List is a changeable, ordered and allow dupilcate values. <br>
List are created using square bracket([]), same as tuple list is indexed from 0 to len(list)-1

In [22]:
list1 = [1,2,3,4,5,6,7,8,9]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list2 = list(('a','b','c','d','e','f'))
list2

['a', 'b', 'c', 'd', 'e', 'f']

In [23]:
# changeable

print("Previous Value : ",list1[0]) # To print the value
list1[0] = 10
print("New Value : ",list1[0])
list1

Previous Value :  1
New Value :  10

[10, 2, 3, 4, 5, 6, 7, 8, 9]

Ordered means the value doesnot change its position by its own

In [24]:
list3 = [1,1,1,1] # Duplicate values allowed
list3

[1, 1, 1, 1]

In [25]:
list3.append('a') # To add new value
list3

[1, 1, 1, 1, 'a']

In [26]:
list3.pop() # By default it removes the last value from the list
list3

[1, 1, 1, 1]

In [27]:
list1.pop(1) # It will remove the value you have entered at that index
list1

[10, 3, 4, 5, 6, 7, 8, 9]

In [28]:
len(list2)

6

In [29]:
list2[3]

'd'

![title](indexing.png)

### Other option which can be performed on List

**extend() - Add all elements of a list to the another list<br>
insert() - Insert an item at the defined index<br>
remove() - Removes an item from the list<br>
clear() - Removes all items from the list<br>
index() - Returns the index of the first matched item<br>
count() - Returns the count of the number of items passed as an argument<br>
sort() - Sort items in a list in ascending order<br>
reverse() - Reverse the order of items in the list<br>
copy() - Returns a shallow copy of the list**

## Dictionary

Dictionary is a collection which is ordered, changable but does not allow any duplicates<br>
Dictionary are written in curly brackets<br>
Dictionary items are present in *key:value pairs* and can be called by using key name

In [30]:
dict1 = dict({'a':1,
        'b':2,
        'c':3,
        'd':4})
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
dict2 = {'a':1, # Duplicates not allowed
        'a':2}
dict2

{'a': 2}

In [33]:
dict3 = {'a':1, # It allows all types of keys
        2:3,
        'c':4}
dict3

{'a': 1, 2: 3, 'c': 4}

In [34]:
dict4 = {'a':1,
        "b":'c'}
dict4

{'a': 1, 'b': 'c'}

In [35]:
# Instead of indexing we can use the keys to call value for particular key

dict1['c']

3

In [36]:
dict1.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [37]:
dict1.values()

dict_values([1, 2, 3, 4])

### Options that can be performed on Dictionary

**clear() : Removes all items from the dictionary.<br>
copy()  :	Returns a shallow copy of the dictionary.<br>
fromkeys(seq[, v])  :	Returns a new dictionary with keys from seq and value equal to v (defaults to None).<br>
get(key[,d])   : 	Returns the value of the key. If the key does not exist, returns d (defaults to None).<br>
items() :	Return a new object of the dictionary's items in (key, value) format.<br>
keys()  :	Returns a new object of the dictionary's keys.<br>
pop(key[,d])    :	Removes the item with the key and returns its value or d if key is not found. If d is not provided and the key is not found, it raises KeyError.<br>
popitem()   :	Removes and returns an arbitrary item (key, value). Raises KeyError if the dictionary is empty.<br>
setdefault(key[,d]) :	Returns the corresponding value if the key is in the dictionary. If not, inserts the key with a value of d and returns d (defaults to None).<br>
update([other]) :	Updates the dictionary with the key/value pairs from other, overwriting existing keys.<br>
values()   : 	Returns a new object of the dictionary's values**

## Set

Set is a collection which is both unordered,unchangeable and unindexed.<br>
Sets donot allow duplicate values.<br>
Set are written with curly bracket

In [39]:
set1 = {9,8,6,4,3,4,6,7,8,1,2,3,0} # Unordered and do not allow duplicates
set1

{0, 1, 2, 3, 4, 6, 7, 8, 9}

In [40]:
set1[0] # unindexed

TypeError: 'set' object is not subscriptable

In [41]:
set2 = {1,'a',2,'c'}
set2

{1, 2, 'a', 'c'}

In [42]:
set3 = {'like','subsribe','comment','like','subsribe','comment','like','subsribe','comment'}
set3

{'comment', 'like', 'subsribe'}

### Functions which can be performed on set
**add() :	Adds an element to the set<br>
clear() :	Removes all elements from the set<br>
copy() :	Returns a copy of the set<br>
difference() :	Returns the difference of two or more sets as a new set<br>
difference_update() : 	Removes all elements of another set from this set<br>
discard() :	Removes an element from the set if it is a member. (Do nothing if the element is not in set)<br>
intersection() :	Returns the intersection of two sets as a new set<br>
intersection_update() :	Updates the set with the intersection of itself and another<br>
isdisjoint() :	Returns True if two sets have a null intersection<br>
issubset() :	Returns True if another set contains this set<br>
issuperset() :	Returns True if this set contains another set<br>
pop() :	Removes and returns an arbitrary set element. Raises KeyError if the set is empty<br>
remove() :	Removes an element from the set. If the element is not a member, raises a KeyError<br>
symmetric_difference() :	Returns the symmetric difference of two sets as a new set<br>
symmetric_difference_update() :	Updates a set with the symmetric difference of itself and another<br>
union() :	Returns the union of sets in a new set<br>
update() :	Updates the set with the union of itself and others**

# Whats Next ?

We will be dicussing the loops in the next video